body{  
  font-family: sans-serif;
  user-select: none;
}
.selectYear,
.selectMonth{  
  display: flex;
  justify-content: center;  
}
.selectMonth .month,
.selectYear .year{  
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40em;
  text-align: center;
  color: #ffffff;
  }
.selectYear td,
.selectMonth td{
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: #3d84c1; 
  border-radius: 10px;
}
#small1{
  font-size: 14px;
  width: 400px;
}
.selectYear td:hover,
.selectMonth td:hover{
  background-color: #3071a9;
}
#nazv{
  height:30px;
  line-height: 30px;
  width: 9em;
  border-radius: 10px;
  border: solid 1px #00000015;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); 
  margin: auto;
  cursor: pointer;
}
#nazv:hover{
  background-color: #00000005;
}
@media (max-width: 600px){  
  #large1{
    display:none;
  }  
}
@media (min-width: 601px){  
  #small1{
    display:none;
  }
}
@media (min-width: 1141px){
  #app{  
    margin: auto;
    margin-top: 20px;
    width: 90%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);  
  }
  .events{
    height: 27em;
    padding: 20px;
    margin-top: 5em;
    margin-left: 5%;    
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);  
  }
  #small{
    display:none;
  }
  .container{
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .look-calendar {
    width:60%;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  #calendar tbody td {    
    padding-left: 5px;
    padding-top: 5px;
    width: 100px;
    height: 7em;
    font-weight: 500;
    border:1px solid #00000015; 
    border-radius: 10px;
    color: #353535;
    text-align: left;
    vertical-align: top;
  }
  #calendar tbody td#today {
    color: #54cf79;
    font-weight: bold;
    font-size: 24px;
    height: 100%;
  }
}
@media(max-width:1140px) {
  .look-calendar {
    width:99%;
    padding:6px;
  } 
  #large{
    display:none;
  }
  #calendar tbody td {
    padding-left: 5px;
    padding-top: 5px;
    width: 100px;
    height: 5em;
    font-weight: 500;
    border:1px solid #f1f1f1;  
    border-radius: 5px;
    color: #555555;
    text-align: left;
    vertical-align: top;
  }
  #calendar tbody td#today {
    color: #41d16c;
    font-weight: bold;
    font-size: 20px;
    height: 100%;
  }
  .point{
    width: 30px;
    height: 30px;
    background-color: #da3232;
    border-radius: 100%;
    font-size: 14px;
    color:#ffffff;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
  }
}
@media(max-width:425px) {
  .point{
    width: 25px;
    height: 25px;
    font-size: 12px;   
    line-height: 25px;    
  }
  #calendar tbody td {   
    height: 4em;    
  }
  #calendar tbody td#today {
    font-size: 16px;
    height: 4em;
  }
}
.button{
	margin-left: 1em;
}

.primary a{  
  text-decoration: none;
  color: #ffffff;
}  
.primary {  
	height: 30px;
  width: 100%;
  text-align: center;
  line-height: 30px;	
  border-radius: 15px;
	background-color: #3d84c1;
	cursor: pointer;	
}  
.primary:hover{
	background-color: #3071a9;
}
.primary:active{
	background-color: #316899;
}
#calendar {
  width: 99%;
  height: auto;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-spacing:0px;
}
#calendar tr.dn td {
  padding-top: 20px;
  font-size: 15px;  
  color: #333333;
  font-weight: 700;  
  text-align: center;
}
.parag{
  font-size: 12px;
  text-align: center;
}
#calendar tbody { 
  padding-top: 50px; 
}
#calendar tbody td:nth-child(n+6):hover,
#calendar tbody td#today:hover,
#calendar tbody td:hover {
  cursor: pointer;
  background: #f8fff8;
}
#calendar tbody td:nth-child(n+6):focus,
#calendar tbody td#today:focus,
#calendar tbody td:focus {
  background: #f0fff0;
  color: #54cf79;
  font-size: 16px;
  height: 100%;
}
#calendar tbody td:nth-child(n+6),
#calendar .holiday {
  color: #ff6262;
}
.events p{
  user-select: text;
  margin-top: 10px;
  font-size: 20px;  
  color: #333333;
  font-weight: 700;  
}
#event tbody td{
  user-select: text;
  padding-top: 10px;
  padding-right: 30px;
  font-weight: 500; 
}
.content{
  max-height: 23em;
  width: 16em;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y: auto;  
  scrollbar-gutter: stable;
}
.content::-webkit-scrollbar {
  width: 10px;
}
.content::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.content::-webkit-scrollbar-thumb {
  background-color: #3d84c1;
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb:hover {
  background-color: #3071a9;
}
